<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
</head>
<body>


<form method='post' action="http://localhost/Gio/public/Home/loginsave" enctype="multipart/form-data">
	<input type="file" name="file">
	<input type="submit" name="submit">
</form>



</body>
</html>